<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand text-logo" href="{{ path('list-feed') }}">Daily Trends</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('list-feed') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="{{ path('import-feeds') }}">Importar Feeds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="{{ path('create-feed') }}">Nuevo Feed</a>
      </li>
    </ul>
  </div>
</nav>
