

$primary: #f15f41;

.container {
  padding: 8rem 1.5rem 5rem 1.5rem;
  text-align: center;
}

/*
.btn-outline-primary { color: $primary; border-color: $primary; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.page-link {
  color: $primary;
}

.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
}

.page-link:hover {
  color: $primary;
}
*/

.btn-primary:hover {
  background-color: $primary !important;
  border-color: $primary !important;
  filter: brightness(75%) !important;
}

.page-title {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-style: italic;
  margin-bottom: .5rem;
  font-weight: 700;
}

.feed-post {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  text-align: left;
}

.feed-excerpt {
  padding: 3rem .75rem 1rem 0;
}

.feed-text-content {
  padding: 3rem .75rem 1rem 0;
}

.feed-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: .25rem;
  font-weight: 700;

  a:link {
    color: #212121;
  }
  a:visited {
    color: #5f5f5f;
  }
  a:hover {
    color: $primary;
  }
}

.feed-post-meta {
  color: #999;
  margin-bottom: 1.25rem;
  margin-top: 0px;
}

.feed-list-buttons {
  padding: 2rem 1rem 3.5rem .75rem;
}

.text-area-feed-content {
  height: 300px !important;
}

.title-edit-feed {
  margin-bottom: 3rem;
}

.text-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  font-style: italic;
  margin-bottom: .15rem;
  font-weight: 700;
}

@import '~bootstrap/scss/bootstrap';

