{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
    {% if (feed is defined) and (feed is not null) %}
        <div class="feed-post">
            <h1 class="page-title">{{ feed.title }}</h1>
            <div class="row">
                {% if (feed.dateCreated is not empty) %}
                <span class="feed-post-meta"><b>Creado</b> {{ feed.dateCreated|date("d/m/Y h:i:s") }}</span>
                {% endif %}
                {% if (feed.dateCreated is not empty) %}
                &nbsp;&nbsp;
                <span class="feed-post-meta"><b>Actualizado</b> {{ feed.dateCreated|date("d/m/Y h:i:s") }}</span>
                {% endif %}
                </div>
                <div class="row">
                {% if (feed.publisher is not empty) %}
                <span class="feed-post-meta"><b>Fuente</b> {{ feed.publisher }}</span>
                {% endif %}
                {% if (feed.source is not empty) %}
                &nbsp;&nbsp;
                <span class="feed-post-meta"><a href="{{ feed.source }}" target="_blank"><b>Ver origen</b></a></span>
                {% endif %}
            </div>
            <div class="feed-text-content">
                {{ feed.body | raw }}
            </div>
            <br>
            <div class="btn-group feed-list-buttons" role="group">
                <a href="{{ path('update-feed', {'feedId': feed.id}) }}" role="button" class="btn btn-outline-secondary">Editar</a>
                <a href="#" data-id="{{ feed.id }}" role="button" class="btn btn-outline-danger delete-feed-button">Eliminar</a>
            </div>
        </div>
    {% else %}
        <h3>Lo sentimos, no se ha encontrado el feed indicado :-(</h3>
    {% endif %}

{% endblock %}

{% block javascripts %}
<script>
    const feeds = document.getElementsByClassName('delete-feed-button')
    for(feed of feeds) {
        feed.addEventListener('click', e => {
            e.preventDefault();
            if (e.target.className === 'btn btn-outline-danger delete-feed-button') {
                if (confirm("¿Seguro que quiere eliminar el Feed?")) {
                    const id = e.target.getAttribute('data-id');
                    fetch(`/delete/${id}`, {
                        method: 'DELETE'
                    }).then( res => window.location.assign('/'));
                }
            }
        });
    }
</script>
{% endblock %}