{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>

    {{ form_start(form) }}
    <div class="errors-class">
        {{ form_errors(form) }}
    </div>

    <div class="row title-edit-feed">
        <div class="col-md-12 text-left" id="title">
            {{ form_row(form.title) }}
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left" id="description">
          {{ form_row(form.body) }}
      </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
