{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
    {% if error %}
        <div class="row">
            <div class="col-md-8 text-left">
                <p>{{ error_message | raw }}</p>
                <div class="btn-group feed-list-buttons" role="group">
                    <a href="{{ path('list-feed') }}" role="button" class="btn btn-outline-primary">Ir a Home</a>
                    <a href="{{ path('import-feeds') }}" role="button" class="btn btn-outline-secondary">Importar de nuevo</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8 text-left">
                <h3>Se han importado {{ feeds_count }} Feeds!</h3>
                <div class="btn-group feed-list-buttons" role="group">
                    <a href="{{ path('list-feed') }}" role="button" class="btn btn-outline-primary">Ir a Home</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}