{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>
    {% if feeds is defined and feeds is not empty %}
        {% for feed in feeds %}
            <div class="feed-post">
                <h3 class="feed-title">
                    <a class="feed-title-link" href="{{ path('get-feed', {'feedId': feed.id}) }}">
                    {{ feed.title }}
                    </a>
                </h3>
                <div class="row feed-dates">
                    {% if (feed.dateCreated is not empty) %}
                    <span class="feed-post-meta"><b>Creado</b> {{ feed.dateCreated|date("d/m/Y h:i:s") }}</span>
                    {% endif %}
                    {% if (feed.dateCreated is not empty) %}
                    &nbsp;&nbsp;
                    <span class="feed-post-meta"><b>Actualizado</b> {{ feed.dateCreated|date("d/m/Y h:i:s") }}</span>
                    {% endif %}
                </div>
                <div class="row feed-sources">
                    {% if (feed.publisher is not empty) %}
                    <span class="feed-post-meta"><b>Fuente</b> {{ feed.publisher }}</span>
                    {% endif %}
                    {% if (feed.source is not empty) %}
                    &nbsp;&nbsp;
                    <span class="feed-post-meta"><a href="{{ feed.source }}" target="_blank"><b>Ver origen</b></a></span>
                    {% endif %}
                </div>
                <div class="feed-excerpt">
                    {{ feed.body|length > 250 ? feed.body|slice(0, 250) ~ '...'|escape : feed.body|escape  }}
                </div>
                <br>
                <div class="btn-group feed-list-buttons" role="group">
                    <a href="{{ path('get-feed', {'feedId': feed.id}) }}" role="button" class="btn btn-outline-primary">Leer más</a>
                    <a href="{{ path('update-feed', {'feedId': feed.id}) }}" role="button" class="btn btn-outline-secondary">Editar</a>
                    <a href="#" data-id="{{ feed.id }}" role="button" class="btn btn-outline-danger delete-feed-button">Eliminar</a>
                </div>
            </div>
            <hr>
        </div>
        <br/>
        {% endfor %}

        <div class="navigation">
        {{ knp_pagination_render(feeds) }}
        </div>
    {% else %}
        <h3>Lo sentimos, no se han encontrado feeds :-(</h3>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    const feeds = document.getElementsByClassName('delete-feed-button')
    for(feed of feeds) {
        feed.addEventListener('click', e => {
            e.preventDefault();
            if (e.target.className === 'btn btn-outline-danger delete-feed-button') {
                if (confirm("¿Seguro que quiere eliminar el Feed?")) {
                    const id = e.target.getAttribute('data-id');
                    fetch(`/delete/${id}`, {
                        method: 'DELETE'
                    }).then( res => window.location.reload());
                }
            }
        });
    }
</script>
{% endblock %}
